@model List<Puc.SeuEmbarque.Domain.Models.PacoteData>
@{
    //Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
   
</head>
<body>

    <div class="container col-md-12 m-0 colDataTable">
        <table class="table table-bordered table-hover table-responsive w-100" id="pacotesTable">
            <thead class="thead-light">
                <tr>
                    <th>N°</th>
                    <th>Cliente</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Ida</th>
                    <th>Volta</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>



<script type="text/javascript">

    function LoadRegistroPac(id) {
        if (id > 0) {
            var params = {};
            params.idPacote = id;
            params.flEdit = false;
            OpenDynamicModal('@Url.Content("~/Pacotes/Register")', params, '#registry-mainregister-modal', 800);
        } else {
            var params = {};
            params.id = id;
            params.flEdit = true;
            OpenDynamicModal('@Url.Content("~/Pacotes/Register")', params, '#registry-mainregister-modal', 800);
        }
    }


    $(document).ready(function () {
        ShowModalLoading();
        $('#pacotesTable').DataTable({
            dom: '<"datatable-header"fB><"datatable-scroll"t><"datatable-footer"ipl>',
            language: {
                search: "",
                searchPlaceholder: "Digite Aqui...",
                lengthMenu: "Mostrar _MENU_ registros por página",
                infoEmpty: "Nenhum registro encontrado.",
                zeroRecords: "Nenhum registro encontrado.",
                loadingRecords: "Carregando...",
                lengthMenu: "Exibir: _MENU_"
            },
            ordering: true,
            order: [[0, 'desc']],
            columnDefs: [
                {
                    orderData: [0],
                    targets: 1
                }
            ],
            ajax: {
                url: "/Pacotes/GetListaPacotes",
                dataSrc: "data"
            },
            columns: [
                {
                    width: '5%', //ID
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)
                        var content = "<a href=\"javascript:void(0);\" class=\"data-export text-blue text-bold\" onclick=\"LoadRegistroPac(" + row.package_id + ")\">PAC-" + row.package_id + "</a>";
                        return content;
                    },
                    className: 'd-md-table-cell text-center'
                },
                {
                    width: '12%',
                    //Cliente
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)                       
                        var content = "<div >" + row.nome_cliente + "</div>";
                        return content;
                    },
                    className: 'd-none d-md-table-cell'
                },
                {
                    width: '21%',//Origem
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)                       
                        var content = "<div>" + row.origin + "</div>";
                        return content;
                    },
                    className: 'd-md-table-cell text-center'
                },
                {
                     width: '21%',//Destino
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)                        
                        var content = "<div>" + row.destination + "</div>";
                        return content;
                    },
                    className: 'd-none d-md-table-cell text-center'
                },                
                { 
                    width: '8%', //Data ida
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)                        
                        var content = "<div>" + row.departure_date + "</div>";
                        return content;
                    },
                    className:'text-center' 
                },
                {
                    width: '8%', //Data Volta
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)
                        var data = row.return_date != null ? row.return_date : "-"
                        var content = "<div>" + data + "</div>";
                        return content;
                    },
                    className: 'd-none d-md-table-cell text-center'
                },
                {
                    width: '5%', //Preço
                    data: function (row, type, set, meta) { //COLUMN CUSTOM DATA (DIFFERENT FORMATS FOR EACH DATATABLE FUNCTION)
                        var content = "<div>" + parseFloat(row.price).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + "</div>";
                        return content;
                    },
                    className: 'd-none d-md-table-cell text-center'
                }
            ],
            initComplete: function () {
                var table = this.api();
                HideModalLoading();
                console.log("Sorting settings:", this.api().order());
                $('.dt-buttons').addClass('d-none d-md-block');
                $('.dt-search').find('span').addClass('d-none d-md-block');
                $('.dt-search').addClass('text');
                $('.dt-search').prepend('<button class="dt-button btn btn-dark mr-1" tabindex="0" type="button" onclick="OpenDynamicModal(\'@Url.Content("~/Pacotes/Register")\', null, \'#registry-mainregister-modal\', 800);"><span><i class="fas fa-plus"></i></span></button>');
                $('.dt-search').find('input[type="search"]').attr({ 'name': 'txtSearch' });

                if (window.innerWidth < 768)
                    $('.dt-search').find('input[type="search"]').css('width', '115px');

                var timer;
                var lastSearch;
                $(".dt-search input")
                    .off("keyup input")
                    .bind("input").on("keyup",
                        function (e) {
                            if (e.keyCode == 13) {
                                clearTimeout(timer)
                                table.search(this.value).draw();
                                return
                            }

                            if (this.value == "" || (this.value.length >= 3 && lastSearch != this.value)) {
                                clearTimeout(timer)
                                timer = setTimeout(() => {
                                    lastSearch = this.value
                                    table.search(this.value).draw()
                                },
                                    500);
                            }

                            return;
                        });

                $('#pacotesTable').on('draw.dt', function () {
                   HideModalLoading();
                });

                $('#pacotesTable').on('page.dt', function () {
                    ShowModalLoading();
                });

                $('#pacotesTable').on('length.dt', function () {
                    ShowModalLoading();
                });

                $('#pacotesTable').on('search.dt', function () {
                    $('.dt-search').find('input[type="search"]').blur();
                    ShowModalLoading();
                });

            }
        }).on('init.dt', function (e, settings, processing) {
            $('.colDataTable').fadeIn();
            HideModalLoading();
        });
    });

</script>
</html>