.ui-menu {
    z-index: 999;
}
/* icone calendario */
.ui-datepicker {
    line-height: 1 !important;
}

.btnViajantes {
    border: none !important;
}


.dataInput {
    position: relative;
}

    .dataInput div {
        display: inline-block;
    }

.clearIconIdaModal {
    position: relative;
    bottom: 1.65rem;
    left: 8.5rem;
    padding-top: 5px;
    cursor: pointer;
}

.clearIconVoltaModal {
    position: relative;
    bottom: 1.65rem;
    left: 8.5rem;
    padding-top: 5px;
    cursor: pointer;
}

.dataInput .fa-solid.fa-circle-xmark {
    color: gray;
    /*position: absolute;*/
    top: 74%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dataInput .clearIda {
    left: 10.4rem;
}

.dataInput .clearVolta {
    right: 3.4rem;
}

.calendarSpan {
    position: relative;
    left: 8.6rem;
    bottom: 1.68rem;
}

.dataInput .calendarIda {
    left: 10.4rem;
}

.dataInput .calendarVolta {
    right: 3.4rem;
}

.lugarInput div {
    display: inline-block;
}

/*opções hospedagem*/
.option {
    cursor: pointer;
    opacity: 0.7;
}

.option-selected {
    background-color: #013d50 !important;
    opacity: 1;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}



#dataIda, #dataVolta {
    width: 10rem !important;
    height: 1.9rem !important;
    z-index: 9999;
}

#dataIda, #dataVolta {
    background-color: #ffffff;
}

#dataVolta:disabled {
    background-color: #e9ecef;
}

#dropdownMenuButton {
    background-color: #ffffff;
}

.dropdown-menu {
    width: 20rem;
}

    .dropdown-menu label {
        font-size: 20px !important;
    }

.inputViajantes {
    border: none;
    color: #161616;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin: 0;
    padding: 0.5rem 0rem;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

#subAdulto,
#addAdulto,
#subCrianca,
#addCrianca {
    border-radius: 0.5rem;
    height: 30px;
    width: 30px;
    padding: 0;
}

    #addAdulto:hover, #subAdulto:hover {
        background-color: rgb(0, 172, 206);
        color: #FFF;
    }

    #addCrianca:hover, #subCrianca:hover {
        background-color: rgb(0, 172, 206);
        color: #FFF !important;
    }

.btnConfirmarViajantes {
    background-color: rgb(0, 172, 206) !important;
    border: none;
}

    .btnConfirmarViajantes:hover {
        background-color: rgb(6 127 151) !important;
    }

.dropdown .input-group button span, .dropdown .input-group input {
    font-weight: 600;
}

.idadeViajante {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a5858;
}

#classe {
    width: 10rem;
}

h3 {
    margin-left: 20px;
}

.expBtn {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}

.expIcone {
    font-size: 20px !important;
    color: white;
    right: 6.5px;
    bottom: 2px;
}

.custom-tooltip .tooltip-inner {
    background-color: #545353 !important;
    color: white !important;
    font-size: 15px;
}

.custom-tooltip .tooltip-arrow::before {
    color: rgb(0, 172, 206) !important;
}

/* .toast-container {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9999;
            }*/

.redirecionar {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #25d366;
    transition: background-color 0.3s, color 0.3s;
    top: 15px;
    margin-bottom: 30px;
}

    .redirecionar p {
        margin-bottom: 0px;
        padding-left: 10px;
    }

    .redirecionar:hover {
        background-color: #128C7E;
        border-color: #128C7E;
    }

.fa-whatsapp {
    font-size: 1.8rem;
}

.inputText::placeholder {
    color: #999;
    opacity: 0.6;
}


/*Checkbox*/
/*input[type="checkbox"] {
                transform: scale(1.4);
            }*/

/*    @@media screen and (max-width:768px) {
                input[type=checkbox]:before {
                    top: 0.1rem !important;
                    left: 0.1rem !important;
                    transform: scale(1.2);
                    content: "";
                    display: block;
                    position: relative !important;
                    width: 0.8rem;
                    height: 0.8rem;
                    border: 1px solid #003f53;
                    background-color: rgb(0, 172, 206);
                }

                input[type=checkbox]:checked:before {
                    width: 0.77rem !important;
                    height: 0.77rem !important;
                }
                input[type=checkbox]:checked:after {
                    left: 0.3rem !important;
                }

                body {
                    zoom: 0.8;
                }
            }
*/
/* input[type=checkbox]:before {
                transform: scale(1.2);
                content: "";
                display: block;
                position: static;
                width: 0.75rem;
                height: 0.75rem;
                border: 1px solid #003f53;
                background-color: #FFF;
            }*/

/*  input[type=checkbox]:checked:before {
                content: "";
                display: block;
                position: absolute;
                width: 0.75rem;
                height: 0.7rem;
                left: 0;
                background-color: #FFF;
            }*/

/*input[type=checkbox]:checked:after {
                content: "";
                display: block;
                width: 0.313rem;
                height: 0.4rem;
                border: solid white;
                border-width: 0 2px 2px 0;
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: 2px;
                left: 0.2rem;
            }*/
/*Checkbox fim*/

/*Scroll*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* cor do handle quando hover */
    }


.datepicker {
    z-index: 1600 !important; /* has to be larger than 1050 */
}

#logoModal {
    width: 200px;
}

.blockId {
    border-radius: 0px 20px 0px 0px;
}

.blockDate {
    border-radius: 0px 0px 20px 0px;
}

.blockLogo {
    background-color: #0f303d;
    border-radius: 20px 0px 0px 20px;
}

.btnViajantes {
    padding: 5px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /*border: 1px solid !important;
        border-color: #d6cfcf !important;*/
    /*border-radius: 10px !important;*/
}